In [2]:
print("hello world")

hello world

In [3]:
print("dhruthi")

dhruthi

### Data Type

####data type

#### data type

##### Data Type

#######data type

##data type

#datatype

In [6]:
x=10
type(x)

int

In [7]:
x=10.5
type(x)

float

In [8]:
x="dhru"
type(x)

str

In [9]:
x="python"
type(x)

str

In [13]:
y=True
type(y)

bool

###VARIABLES

In [1]:
name="dhruthi"
Age=20
Income=100000

In [2]:
print(name)
print(Age)
print(Income)

dhruthi
20
100000

In [15]:
names="a","b"

In [16]:
names

('a', 'b')

###variable name should not start with a nummber

In [17]:
na2mes="a"
na2mes

'a'

In [18]:
name-lists="a"
name-lists

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3661785341.py, line 1)

####only special character used is underscore_

In [19]:
name$s="ad"

SyntaxError: invalid syntax (2638616495.py, line 1)

In [20]:
for="a"

SyntaxError: invalid syntax (186979568.py, line 1)

In [3]:
name list="dhruthi","madamanchi"
name list

SyntaxError: invalid syntax (3607145374.py, line 1)

space is not allowed

variable name should not start with keyword

# LIST

In [4]:
sample_list=[1,2,3,7,-1,"hi",5.7,1,1,1]
sample_list

[1, 2, 3, 7, -1, 'hi', 5.7, 1, 1, 1]

In [5]:
type(sample_list)

list

In [6]:
sample_list[5]

'hi'

In [7]:
sample_list[10]

IndexError: list index out of range

In [9]:
sample_list[-5]

'hi'

In [10]:
sample_list[0]=100
sample_list

[100, 2, 3, 7, -1, 'hi', 5.7, 1, 1, 1]

elememts in a list are seperated by comma and enclosed in squared brackets

lists is hetrogenous-->multiple data types

lists can have duplicates

lists is mutable-->make changes

# TUPLE

1. container object 
2. heterogenous-->allows multiple data types
3. can have duplicates
4. immutable-->cannot make changes
5. elements are seperated by comma,enclosed in paranthesis or without any brackets

In [11]:
sample_tuple=(1,6,2.3,8.3,"hi")
sample_tuple

(1, 6, 2.3, 8.3, 'hi')

In [12]:
type(sample_tuple)

tuple

In [13]:
sample_tuple2=1,6,2.3,8.3,"hi"
sample_tuple2

(1, 6, 2.3, 8.3, 'hi')

In [14]:
type(sample_tuple2)

tuple

In [15]:
print(sample_tuple)
print(sample_tuple2)

(1, 6, 2.3, 8.3, 'hi')
(1, 6, 2.3, 8.3, 'hi')

In [16]:
sample_tuple[1]

6

In [17]:
sample_tuple[10]

IndexError: tuple index out of range

In [18]:
sample_tuple[0]=100

TypeError: 'tuple' object does not support item assignment

# DICTIONARY

1.key-value pair

2.{}

3.indexing-square bracket

4.mutable

In [22]:
dict_1={'name':"dhruthi"
       ,"hobbies":["painting","drawing","thinking"]}

In [23]:
dict_1

{'name': 'dhruthi', 'hobbies': ['painting', 'drawing', 'thinking']}

In [24]:
dict_1[keys]

NameError: name 'keys' is not defined

In [25]:
dict_1.keys()

dict_keys(['name', 'hobbies'])

In [26]:
dict_1.values()

dict_values(['dhruthi', ['painting', 'drawing', 'thinking']])

In [27]:
dict_1['name']="haneesh"

In [28]:
dict_1

{'name': 'haneesh', 'hobbies': ['painting', 'drawing', 'thinking']}

# SET

it will get sorted


it cannot get value simple we have to use parameters like .add,.remove.....

In [31]:
sample_set={1,2,3,4,5,1,13.4,9,6,"hi","hello","ds",-1,11.4,21.5}
sample_set

{-1, 1, 11.4, 13.4, 2, 21.5, 3, 4, 5, 6, 9, 'ds', 'hello', 'hi'}

In [32]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [33]:
sample_set[0]=1

TypeError: 'set' object does not support item assignment

In [34]:
sample_set,add(100)

NameError: name 'add' is not defined

In [35]:
sample_set.add(100)

In [36]:
sample_set

{-1, 1, 100, 11.4, 13.4, 2, 21.5, 3, 4, 5, 6, 9, 'ds', 'hello', 'hi'}

In [37]:
sample_set.remove(-1)

In [38]:
sample_set

{1, 100, 11.4, 13.4, 2, 21.5, 3, 4, 5, 6, 9, 'ds', 'hello', 'hi'}

set does not allow duplicates

we cannot retrieve the set using index

set is mutable

set has ()

ordered-first place